*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mirza', cursive;
    background: hsl(291, 45%, 22%);
    color: #ffffff;
    font-size: 1.2rem;
}

.container {
    width: 88%;
    max-width: 600px;
    margin-inline: auto;
}

.header {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.header h1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-family: 'Quicksand', sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1em;
}


.key {
    width: 180px;
    height:180px;
    padding: 1em;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(180deg, hsl(343.1, 67.9%, 37.8%) 2%, hsl(45, 100%, 50%) 98%);
}

.key kbd {
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    line-height: 1;
}

.key .sound {
    display: block;
    font-size: 2rem;
}